#AbaiImage {
width: 90%;
}
.row2{
    display: flex;
}

#word1 {
    width: 30%;
    float: left;
    margin: 0.5% 1.5% 0.5% 1.5%;
}


#word2 {
    width: 18%;
    float: right;
    margin: 0.5% 1.5% 0.5% 1.5%;
    
}
h1 {
    text-align: center;
}

#mylogo {
    width: 12%;
    margin: 2% 0 0 5%;

}
header{
    margin-bottom: 3%;
}


.video1{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; 
    height: 0;
  }
  .video1 iframe{
    position: absolute;
    top:0;
    left: 0;
    width: 90%;
    height: 90%;
    margin-left: auto;
    margin-right: auto;
  }